header.container {
    padding-bottom: 0;
}

.room-id {
    cursor: text;
}

.grid > article {
    margin: 8px 0;
    padding: 1rem;
}

.game-canvas {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #450604;
    background-image: url("../images/wood-pattern.png");
    background-repeat: repeat;
    border: 1px solid;
    border-color: var(--contrast);
    border-radius: 5px;

    display: grid;
}

.player-area {
    padding: 1rem;
}

.top-player {
    /* Takes the full top row */
    grid-column: 1 / 4;
    grid-row: 1;
}

.left-player {
    /* Takes 1/3 of the middle row */
    grid-column: 1;
    grid-row: 2;
}

.game-canvas > .deck {
    display: grid;
    place-items: center;
    grid-column: 2;
    grid-row: 2;
}

.right-player {
    /* Takes 1/3 of the middle row */
    grid-column: 3;
    grid-row: 2;
}

.bottom-player {
    /* Takes the full bottom row */
    grid-column: 1 / 4;
    grid-row: 3;
}

/* Give red box border to all above */
.player-area {
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.card {
    position: relative;
    width: 100px;
    height: 150px;
    border-radius: 5px;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

    display: grid;
    place-items: center;
}

.card-number {
    font: 700 2.5rem 'Roboto', sans-serif;
    color: black;
}

.card-number-top-left {
    position: absolute;
    top: 5px;
    left: 7px;
    color: black;
}

.card-number-bottom-right {
    position: absolute;
    bottom: 5px;
    right: 7px;
    color: black;
}

.current-turn::after {
    content: ' (Current Turn)';
    font: 400 0.7rem 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 150px;
    border-radius: 5px;
}